BasedOnStyle: LLVM
ColumnLimit: 80
UseTab: Never
UseCRLF: true
InsertNewlineAtEOF: true
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
BinPackArguments: false
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowAllArgumentsOnNextLine: true
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterObjCDeclaration: true
  SplitEmptyFunction: false